<h1>Listing groups and members</h1>

<%= form_tag(:controller=>'groups', :action=>'create') do %>
名前(カナ)<%= text_field_tag :name_kana, params[:name_kana] %>
<br>
グループ
<select name = "group_name">
  <option value = ""></option>
  <% Group.all.each do |group| %>
    <option value = "#{group.name}">group.name</option>
  <% end %>
</select>
<%= submit_tag "検索" %>
<% end %>
